Repository foray1010/use-typed-event-listener: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

chore(deps): update dependency typescript to v3.9.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency remark-cli to v8.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.9.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v26.0.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.22.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup-plugin-dts to v1.4.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/testing-library__react-hooks to v3.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.23.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/react-hooks to v3.4.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v26.0.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/testing-library__react-hooks to v3.4.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.11.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: use use-deep-compare to replace fast-equals
  .size-limit.json
  package.json
  rollup.config.ts
  src/index.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

feat!: move default export in commonjs build to the .default property
  .size-limit.json
  rollup.config.ts
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(release): 3.0.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.11.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  import-sort --write: any of: *.{js,ts}
  yarn prettier --write: ((((any of: *.{js,ts}) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: .babelrc)) or (any of: package.json)
  yarn eslint --fix: any of: *.{js,ts}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts}
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
