Repository foray1010/use-typed-event-listener: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

chore(deps): update dependency jest to v25.5.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update @foray1010/common-presets monorepo
  package.json
  src/index.test.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency sort-package-json to v1.42.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update size-limit monorepo to v4.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v26
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency eslint to v7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup-plugin-dts to v1.4.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency typescript to v3.9.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v25.2.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.6.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup-plugin-dts to v1.4.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: lower bundle size by using @babel/runtime
  .babelrc.js
  .size-limit.json
  package.json
  rollup.config.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(release): 2.0.1
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency lint-staged to v10.2.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v25.2.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react to v16.9.35
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: remove unused tsconfig setting
  tsconfig.json
Due: yarn prettier --write

chore: run test before push
  .huskyrc.yml
Due: yarn prettier --write

chore(deps): update dependency typescript to v3.9.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  import-sort --write: any of: *.{js,ts}
  yarn prettier --write: ((((any of: *.{js,ts}) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: .babelrc)) or (any of: package.json)
  yarn eslint --fix: any of: *.{js,ts}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts}
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
