Repository foray1010/use-typed-event-listener: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{js,ts}':
  - 'import-sort --write'
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
  - 'git add'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
  - 'git add'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
  - 'git add'
'.babelrc':
  - 'yarn prettier --write'
  - 'git add'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'
  - 'git add'

chore(deps): update dependency type-coverage to v2.17.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v26.0.23
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react to v17.0.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore!: drop node 10
  .circleci/config.yml
  .size-limit.json
  package.json
  rollup.config.ts
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update circleci/node docker tag to v12.22.1
  .circleci/config.yml
Due: yarn prettier --write

chore(deps): update dependency rollup to v2.46.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.14.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency type-coverage to v2.17.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.47.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update node.js to v15
  .circleci/config.yml
Due: yarn prettier --write

chore(deps): update dependency @types/react to v17.0.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v5.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.26.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency prettier to v2.3.0
  src/index.ts
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

Revert "chore(deps): update circleci/node docker tag to v12.22.1"
  .circleci/config.yml
Due: yarn prettier --write

chore: include CHANGELOG.md in release build
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.14.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
