Repository foray1010/use-typed-event-listener: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

refactor: replace react hooks testing library by the react one
  package.json
  src/index.test.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

test: test full cycle in react ref test
  src/index.test.tsx
Due: none

chore!: require node `^16.14.0 || >=18.12.0`
  .circleci/config.yml
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo (major)
  .eslintrc.cjs
  eslint.config.mjs
  jest.config.mjs
  package.json
  src/.eslintrc.cjs
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: remove .gitattributes
  .gitattributes
Due: none

chore: update eslint config
  package.json
  src/index.test.tsx
  src/index.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: move to yarn v3
  .circleci/config.yml
  .gitignore
  .yarnrc.yml
  README.md
  package.json
  yarn.lock
Due: yarn prettier --write, yarn remark, sort-package-json

chore: use .node-version to manage development nodejs version
  .node-version
Due: none

chore: update eslint config path
  .lintstagedrc.mjs
  eslint.config.js
  package.json
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

fixup! chore(deps): update dependency @foray1010/eslint-config to v10.5.0
  rollup.config.ts
  src/index.ts
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: sync editorconfig
  .editorconfig
Due: none

style: sync husky script styles
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

perf: reduce bundle size
  .browserslistrc
  rollup.config.ts
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update @foray1010/common-presets monorepo (major)
  .prettierrc.cjs
  .prettierrc.mjs
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: replace rollup-plugin-terser by @rollup/plugin-terser
  .size-limit.json
  package.json
  rollup.config.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore!: require node `^18.12.0 || >=20.9.0`
  .circleci/config.yml
  .node-version
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update yarn to v4
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .size-limit.json
  package.json
  rollup.config.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .node-version
  .size-limit.json
  package.json
  rollup.config.ts
  tsconfig.json
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

Path conditions:
  import-sort --write: any of: *.{js,ts}
  yarn prettier --write: ((((any of: *.{js,ts}) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: .babelrc)) or (any of: package.json)
  yarn eslint --fix: any of: *.{js,ts}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts}
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
