Repository foray1010/use-typed-event-listener: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{js,ts}':
  - 'import-sort --write'
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
  - 'git add'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
  - 'git add'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
  - 'git add'
'.babelrc':
  - 'yarn prettier --write'
  - 'git add'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'
  - 'git add'

chore(deps): update dependency @types/react to v16.9.36
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

build: properly add typescript checking on rollup config
  package.json
  rollup.config.js
  rollup.config.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @rollup/plugin-replace to v2.3.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: clearer rollup config
  package.json
  rollup.config.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @types/react to v16.9.38
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.2.11
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

build: use const for commonjs import
  .size-limit.json
  rollup.config.ts
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @foray1010/eslint-config to v3.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/react to v10.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

fixup! chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance (#400)
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: allow undefined element
  src/index.ts
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency rollup to v2.18.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @rollup/plugin-babel to v5.0.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): 2.0.2
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency eslint to v7.3.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v26.1.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v26.0.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update size-limit monorepo to v4.5.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react to v16.9.41
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/react to v10.4.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
