Repository foray1010/use-typed-event-listener: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

.lintstagedrc.yml:

'*.{js,ts}':
  - 'import-sort --write'
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
  - 'git add'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
  - 'git add'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
  - 'git add'
'.babelrc':
  - 'yarn prettier --write'
  - 'git add'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'
  - 'git add'

chore(deps): update dependency typescript to v4.7.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update jest monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update jest monorepo
  jest.config.ts
  package.json
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @types/react to v18.0.12
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v13.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v8.17.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.75.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @babel/core to v7.18.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency @foray1010/eslint-config to v7.3.0
  src/index.test.ts
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: use cjs/mjs instead of yml for config files
  .babelrc.cjs
  .eslintrc.cjs
  .eslintrc.yml
  .lintstagedrc.cjs
  .prettierrc.cjs
  .remarkrc.mjs
  .remarkrc.yml
  jest.config.ts
  src/.eslintrc.cjs
  src/.eslintrc.yml
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: use root: true in eslint config
  .eslintrc.cjs
  src/.eslintrc.cjs
Due: none

chore: use @foray1010/jest-preset
  jest.config.ts
  package.json
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update jest to v29
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  .size-limit.json
  package.json
  rollup.config.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore!: drop node.js v12 and v17
  package.json
Due: yarn prettier --write, sort-package-json

chore: update lint-staged config
  .lintstagedrc.cjs
Due: none

chore: use mjs for lint-staged config
  .lintstagedrc.mjs
Due: none

chore: do not throw error when remark lints ignored files
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  rollup.config.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  src/index.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

fix: export valid es modules files
  .size-limit.json
  package.json
  rollup.config.ts
  src/index.test.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(release): 4.0.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: compatible with typescript node16 module resolution
  package.json
Due: yarn prettier --write, sort-package-json

chore(release): 4.0.1
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): upgrade all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix: cannot install due to unnecessary postinstall script
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): 4.0.2
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore!: drop nodejs 14.17 and 18.11
  .circleci/config.yml
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v3
  .size-limit.json
  package.json
  rollup.config.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo (major)
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  src/index.test.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

docs: update codecov link
  README.md
Due: yarn prettier --write, yarn remark
