Repository foray1010/use-typed-event-listener: changes, and which lint-staged commands are due for each by the changed paths.
All: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

chore(deps): update dependency prettier to v2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.0.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency prettier to v2
  CHANGELOG.md
  README.md
  package.json
  rollup.config.ts
  src/index.test.ts
  src/index.ts
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @size-limit/preset-small-lib to v4.4.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency size-limit to v4.4.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v2.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/remark-preset to v3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency @foray1010/remark-preset to v3
  .lintstagedrc.js
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency @foray1010/remark-preset to v3 (#322)
  .lintstagedrc.js
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

style: use endsWith to replace regex
  .lintstagedrc.js
Due: import-sort --write, yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @testing-library/dom to v7.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency rollup to v2.3.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v25.2.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/remark-preset to v3.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/testing-library__dom to v7.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update size-limit monorepo to v4.4.5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/jest to v25.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.1.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.0.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.41.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @types/react to v16.9.34
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @testing-library/dom to v7.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  import-sort --write: any of: *.{js,ts}
  yarn prettier --write: ((((any of: *.{js,ts}) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: .babelrc)) or (any of: package.json)
  yarn eslint --fix: any of: *.{js,ts}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts}
  yarn remark: any of: *.md
  sort-package-json: any of: package.json
