Repository foray1010/use-typed-event-listener: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --parser json --write, import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

feat: add useEventListener function
  src/index.ts
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: avoid keep updating listener in DOM
  src/index.ts
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: add scripts
  package.json
  tsconfig.json
  tsconfig.typecheck.json
  yarn.lock
Due: prettier-eslint --write

fix: include fallback event in typings
  src/index.ts
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! feat: avoid keep updating listener in DOM
  src/index.ts
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: whitelist release files
  package.json
Due: prettier-eslint --write

test: add tests for useEventListener
  .babelrc
  .eslintrc.yml
  package.json
  src/index.test.ts
  yarn.lock
Due: prettier-eslint --parser json --write, import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

ci: add circleci config
  .circleci/config.yml
  yarn.lock
Due: prettier-eslint --write

chore: add badges
  README.md
Due: prettier-eslint --write, markdownlint

test: should update event listener without re-binding
  src/index.test.ts
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: bump to v1.0.0
  package.json
Due: prettier-eslint --write

chore(release): 1.0.0
  CHANGELOG.md
Due: prettier-eslint --write, markdownlint

chore(deps): update commitlint monorepo to v8
  package.json
  yarn.lock
Due: prettier-eslint --write

fix: include LICENSE in release
  package.json
Due: prettier-eslint --write

docs: add documentations
  README.md
Due: prettier-eslint --write, markdownlint

feat: bind `this` in event listener
  src/index.test.ts
  src/index.ts
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

fix: add license in package.json
  package.json
Due: prettier-eslint --write

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore: use @testing-library/dom as we do not use react component in test
  package.json
  src/index.test.ts
  yarn.lock
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @testing-library/dom to v5.1.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency react-hooks-testing-library to v0.5.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: code cleanup
  src/index.test.ts
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

test: should bind event listener and call with event
  .eslintrc.yml
  src/index.test.ts
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: enable eslint-plugin-react-hooks
  .eslintrc.yml
  src/index.ts
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: accept `useCapture` or `options` as 4th argument
  README.md
  package.json
  src/index.test.ts
  src/index.ts
  yarn.lock
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint

feat: accept `useCapture` or `options` as 4th argument (#4)
  README.md
  package.json
  src/index.test.ts
  src/index.ts
  yarn.lock
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

feat: output esm build
  package.json
  tsconfig.json
Due: prettier-eslint --write

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

fix: enable tree shaking for package `fast-equals`
  .babelrc
  .gitignore
  package.json
  rollup.config.ts
  tsconfig.json
  tsconfig.typecheck.json
  yarn.lock
Due: prettier-eslint --parser json --write, import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix: enable tree shaking for package `fast-equals` (#5)
  .babelrc
  .gitignore
  package.json
  rollup.config.ts
  tsconfig.json
  tsconfig.typecheck.json
  yarn.lock
Due: prettier-eslint --parser json --write, import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: typecheck rollup.config.ts
  rollup.config.ts
  tsconfig.typecheck.json
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(release): 1.3.1
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(deps): update dependency husky to v2.4.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency rollup to v1.14.2
  package.json
  yarn.lock
Due: prettier-eslint --write

Path conditions:
  prettier-eslint --parser json --write: any of: .babelrc
  import-sort --write: any of: *.ts
  prettier-eslint --write: ((any of: *.ts) or (any of: *.{json,yaml,yml})) or (any of: *.md)
  eslint --fix: any of: *.ts
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.ts
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
